.new-tweet {
  /* display: flex; 
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */ 
  margin-top: 1rem;
}
.error {
  display: none;
  height: 5rem;
  width: 100%;
  background-color: #F8D7D9;
  color: #8F1C23;
  border: 4px solid red;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 0.7rem;
}
form {
  margin-top: 2rem;
}
.new-tweet label {
  font-weight: 600;
}

textarea {
  height: 60px;
  width: 100%;
  font-size: 1.4rem;
  resize: none;
  border: none;
  outline: none;
  /* overflow: auto; */
  overflow: hidden;
  display: block;
  background-color: #f4f1ec;
  border-bottom: 2px solid #000;
  margin: 1.2rem 0 1.2rem 0;
}
.tweet-submit {
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.tweet-submit button {
  color: #fff;
  background-color: #4052A1;
  border: 10px solid rgb(196,205,227, 0);
  outline: none;
  padding: 0.5rem 1.3rem;
  transition: all 0.3s ease;
}

.tweet-submit button:hover,
.tweet-submit button:focus {
  border: 10px solid #C5CCE3;
  cursor: pointer;
}
.negative-values {
  color: #ff0000;
}